<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>СувИОС - БПЛА</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Add custom styles -->
  <style>
    /* Add custom styles here */
    .bg-blur {
      background-color: rgba(255, 255, 255, 0.7); /* Set a transparent white background */
      backdrop-filter: blur(5px); /* Apply a blur effect to the background */
    }
  </style>
</head>
<body>

  <!-- Add navbar with authentication links -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">СувИОС - БПЛА</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse.js navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% comment %}{% if user.is_authenticated %} {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="#">Начать</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Правила</a>
          </li>

            {% comment %}
            {% else %}{% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="#">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Регистрация</a>
          </li>
{#          {% endif %}#}
        </ul>
      </div>
    </div>
  </nav>
</body>