<!DOCTYPE html>
<html>
<head>
	<title>Navbar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
</head>
<body>
	<header>
		<nav>
			<div class="logo"><a href="#">СувИОС - БПЛА</a></div>
			<ul class="nav-links">
				<li class="login"><a href="#">Вход</a></li>
				<li class="register"><a href="#">Регистрация</a></li>
			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>

	<footer>
		<p>Почта для обратной связи: sherihay@m-svu.ru</p>	</footer>

	<script src="js/navbar.js"></script>
</body>
</html>